# ==================================================
# Python
# ==================================================

# Python이 자동으로 생성하는 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# 가상환경
.venv/
venv/
env/

# ==================================================
# PyCharm / IntelliJ
# ==================================================

# IDE 설정 파일 (개인 환경)
.idea/
*.iml

# ==================================================
# vscode
# ==================================================


# ==================================================
# Node.js
# ==================================================

# npm 패키지
node_modules/

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Operating System
# ==================================================

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
