# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# ==========================
# PyCharm
# ==========================

.idea/
*.iml

# ==========================
# TensorFlow
# ==========================

*.h5
*.keras

# ==========================
# Logs
# ==========================

*.log

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Node.js
# ==========================

node_modules/
